div#area {
    font: normal 20pt Arial, Helvetica, sans-serif;
    background: green;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    /* alinha verticalmente */
    text-align: center;
}